## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
publish/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## IDE
.vs/
.vscode/
*.code-workspace
.idea/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## User secrets
**/appsettings.Development.json
tools/
publish-output/
